.socials-icon{
    filter: grayscale(100%);
    transition: all 0.2s;
}
.socials-icon:hover{
    filter: grayscale(0%);
    transition: all 0.2s;
}
.progress{
    height: 32px;
    padding: 0;
}
#plant1{
    position: fixed;
    bottom: -260px;
    left:-240px;
    z-index: -10;
    height: 100vh;
}
#plant2{
    position: fixed;
    bottom: -180px;
    right:-240px;
    z-index: -10;
    width: 50%;
}
#plant3{
    position: relative;
    bottom:-18%;
}
#jumbotron-container{
    height: 88vh;
}
.jumbotron{
    /*background: url(https://cdn.pixabay.com/photo/2015/04/10/17/03/pots-716579_1280.jpg);*/
    overflow: hidden;
}
.jumbotron::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
  
    display: block;
    background-image: url('https://cdn.pixabay.com/photo/2015/04/10/17/03/pots-716579_1280.jpg');
    background-size:cover;
    width: 100%;
    height: 100%;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(2px);
  }