{% extends 'index.html' %}

{% block content %}

<div class="container mt-4">
    <h1>What is this AI ?</h1>
    <p>This AI is made to make <strong>Computer Vision Classifiation</strong> about plants health.</p>
    <p>It show the prediction percentage of classification</p>
    <p>With this AI you can take care of your plants without being a biologist</p>
    <h2>What kind of tools were used to made this ?</h2>
    <p>This App is using Microsoft Azure Custom Vision Service. <a href="https://azure.microsoft.com/fr-fr/services/cognitive-services/custom-vision-service/">Learn more About Azure Custom Vision Service</a></p>
    <p>We use this dataset to train model <a href="https://www.tensorflow.org/datasets/catalog/plant_leaves">https://www.tensorflow.org/datasets/catalog/plant_leaves</a></p>
    <p>This dataset includes 4,502 images of healthy and unhealthy plant leaves divided into 22 categories by species and health status. The images are in high resolution JPG format. </p>
    <h3>How it works ?</h3>
    <p><a href="https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/use-prediction-api">Learn how to use prediction API</a></p>
    <h4>What is the precision of PlantsCare AI ?</h4>
    <p>We used about <strong>200 plants photographies</strong> to train the model</p>
    <img class="img-fluid rounded" src="{{ url_for('static',filename='img/metrics.png')}}" alt="">
</div>


{% endblock %}