{% extends 'index.html' %}

{% block content %}
<h1 class="text-center mt-4">Credits</h1>
<div class="container mt-4">
    <div class="row d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
            <img src="../static/img/antoine-photo.png" class="card-img-top" alt="Photo de Antoine">
            <div class="card-body">
                <h5 class="card-title">Antoine Pont</h5>
                <a href="" class=""><img class="socials-icon" src="https://img.icons8.com/office/40/000000/linkedin.png"/></a>
                <a href="https://gitlab.com/Onizukapnt"><img class="socials-icon" src="https://img.icons8.com/color/40/000000/gitlab.png"/></a>
                <a href="mailto:antoine.pont.dev@gmail.com"><img class="socials-icon" src="https://img.icons8.com/color/40/000000/apple-mail.png"/></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../static/img/jm2.png" class="card-img-top" alt="Photo de Jean-Marc">
            <div class="card-body">
                <h5 class="card-title">Jean-Marc Serruya</h5>
                <a href="https://www.linkedin.com/in/jmarcserruya/" class=""><img class="socials-icon" src="https://img.icons8.com/office/40/000000/linkedin.png"/></a>
                <a href="mailto:serruya.jean-marc@orange.fr"><img class="socials-icon" src="https://img.icons8.com/color/40/000000/apple-mail.png"/></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../static/img/dylan-photo.png" class="card-img-top" alt="Photo de Dylan">
            <div class="card-body">
                <h5 class="card-title">Dylan Tavarès</h5>
                <a href="https://www.linkedin.com/in/dylan-tavar%C3%A8s-727b23187/" class=""><img class="socials-icon" src="https://img.icons8.com/office/40/000000/linkedin.png"/></a>
                <a href="https://gitlab.com/TavaresDylan"><img class="socials-icon" src="https://img.icons8.com/color/40/000000/gitlab.png"/></a>
                <a href="mailto:tavares.dylan03@gmail.com"><img class="socials-icon" src="https://img.icons8.com/color/40/000000/apple-mail.png"/></a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 text-center">
    <h2 class="text-center">Special thanks</h2>
    <img src="{{ url_for('static',filename='img/metsys-logo.svg')}}" alt="">
    <a class="btn btn-lg btn-info m-4" href="https://blog.metsys.fr/detecter-et-compter-des-personnes-presentes-sur-un-flux-video-avec-de-lintelligence-artificielle/">Metsys Blog</a>
</div>
{% endblock %}