{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Tab icon -->
	<link rel="icon" href="https://img.icons8.com/color/64/000000/potted-plant--v1.png" />
	<title>{{title}}</title>
	<!--BOOSTWATCH THEME -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cosmo/bootstrap.min.css" integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">
	<!-- Personal CSS stylesheet -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
	<!-- Block for stylesheets only available on this page -->
	{% block style %}
	{% endblock %}
</head>
<body>

	<!-- NAV BAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand d-flex justify-content-around align-items-center" href="/">
			<img src="https://img.icons8.com/color/64/000000/potted-plant--v1.png"/>
			PlantsCare
		</a>
		<!-- MOBILE BURGER -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
			aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- NAV LINKS -->
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/predict">Make Predictions</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/credits">Credits</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Block content only available on this page -->
	{% block content %}

		<div id="jumbotron-container" class="container mt-4 d-flex justify-content-center align-items-center">
			<div class="jumbotron rounded">
				<div class="row">
					<div class="col-6">
						<h1 class="display-4">Plants Care</h1>
						<p class="lead">An A.I made by 3 students of <strong>Microsoft A.I school</strong> by <strong>SIMPLON</strong></p>
						<hr class="my-4">
						<p>You can take care of your plants with this awesome AI made with Custom Vision by Azure</p>
						<a class="btn btn-primary btn-lg m-4" href="/predict" role="button">Use PlantsCare AI</a>
						<div class="d-flex align-items-center pt-4">
							<p class="">Powered by</p>
							<img class="img-fluid w-25" src="https://upload.wikimedia.org/wikipedia/en/b/b9/Microsoft-CogTK.png" alt="">
						</div>
					</div>
					<div class="col-6">
						<img id="plant3" class="img-fluid" src="https://cdn.pixabay.com/photo/2017/02/01/11/23/branch-2029759_1280.png" alt="">
					</div>
				</div>
			</div>
		</div>
<!--<div class="container bg-light rounded">
	<div class="row d-flex align-items-center">
		<div class="col-6 d-flex justify-content-center">
			<img class=" img-fluid w-75" src="../static/img/Microsoft-ia-logo.png" alt="">
		</div>
		<div class="col-6 d-flex justify-content-center">
			<img class="img-fluid w-50" src="http://www.ma-sphere.eu/wp-content/uploads/2016/04/LOGO-SIMPLON.png" alt="">
		</div>
	</div>
</div>-->
	{% endblock %}

	<!-- BOOTSTRAP JS SCRIPT -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Block scripts only available on this page -->
	{% block script %}
	{% endblock %}
</body>
</html>