{% extends 'index.html' %}

{% block content %}
<h1 class="text-center mt-4">Use PlantsCare to verify if your plant is healthy</h1>

<div class="container mt-4 border border-dark rounded p-4 bg-light shadow-sm">
    <h2 class="display-5">You just have to input your image bellow ⬇️ </h2>
    <div class="row">
        <div class="form-group col-6">
            <form action="#" method="POST" enctype="multipart/form-data">
                <label for="image">File input</label>
                <input type="file" class="form-control-file" id="image" name="image" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">.png / .jpeg / .jpg are accepted and maximum of 3mb</small>
                {% if no_file %}
                <div class="alert alert-danger" role="alert">
                    {{ no_file }}
                </div>
                {% endif %}
                {% if not_allowed %}
                <div class="alert alert-danger" role="alert">
                    {{ not_allowed }}
                </div>
                {% endif %}
                <input class="btn btn-primary m-4" type="submit">
            </form>
            {% if result %}
        <div class=" border border-dark bg-dark rounded text-light p-4 mt-2">
            <h3>Result</h3>
            <div class="row">
                <label class="col-2 text-bold text-center" for="">Diseased</label>
                <div class="progress col-10">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" name=progress-bar role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_healthy }};font-size:24px;font-weight:bold;">{{ percent_healthy }}</div>
                </div>
            </div>
        </div>
        <div class=" border border-dark bg-dark rounded text-light p-4 mt-2">
            <h3>Result</h3>
            <div class="row">
                <label class="col-2 text-bold text-center" for="">Healthy</label>
                <div class="progress col-10">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" name=progress-bar role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_disease }};font-size:24px;font-weight:bold;">{{ percent_disease }}</div>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
        <div class="col-6 text-center">
            {% if image %}
            <img class="img-fluid" src="../static/img/{{ img_name }}">
            <figcaption>{{ img_name }}</figcaption>
            {% endif %}
        </div>
    </div>
</div>
<img id="plant1" src="../static/img/plant.png" alt="">
<img id="plant2" src="../static/img/fougere.png" alt="">
{% endblock %}